
.image-article{
    width: 100%;
    height: 250px;
    max-height: 250px;
}
.article-content{
    background-color: #ddd;
    height: 250px;
}
.article-title-content{
    background-color: #7d7d7d;
    height: 50px;
    width: 100%;
}
.article-title{
    font-size: 16px;
    color: black;
    top: 17px;
    position: relative;
}

.article-content strong{
    color: #7d7d7d;
}
.article-container>div{
    padding-top: 20px;
    margin-bottom: 15px;
    height: 40px;
}
.article-content p{
    color: black;

}
.article-container{
    padding-left: 15%;
    padding-right: 15%;
    height: 105px;

}
.article-plus{
    height: 100%;
    width: 12%;
    background-color: #ca751a;
    font-size: 30px;
    padding-top: 8px;
}

.article-footer{
    height: 50px;
    top: 45px;
    position: relative;

}
.article-date{
    width: 88%;
    left: 11%;
    color: #7d7d7d;
    font-weight: bold;
}
.margin-top{
    margin-top: 10px;
}
#articles>article>div{
    margin-top: 10px;
}


.note-home{
    background-color: #f0f0f0;
    height: 130px;
    border: solid black 1px;
    margin-bottom: 10px;
}

/**
*   Caja Titulares
*/
#titulares{
    height: 250px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    margin-right: 5px;
}
    /*Barra del titulo*/
    .barra-title{
        height: 40px;
    }
    #title-titulares{
        padding-top: 10px;
        float: left;
        background-color: #FF8729;
        width: 40%;
    }
    #title-titulares>span:first-child{
        float: left !important;
    }
    #title-destac{
        background-color: #c32b00;
        width: 60%;
        left: 40%;
        position: relative;
    }
    .triangulo-titulares{
        width: 0;
        height: 0;
        border-top: 40px solid #ff8729;
        border-right: 40px solid transparent;
    }
    /*Listado de Articulos*/
    #titulares ul {
        list-style: none; /* Remove list bullets */
        padding: 0;
        margin: 0;
        font-size: 14px;
        text-align: left;
    }
    .content-list{
       margin-bottom: 0;
    }

    #titulares li {
        padding-left: 25px;

    }
    #titulares li a{
        color: #6E6E6E;
    }
    #titulares li a:hover{
        color: #000;
    }

    #titulares li:before {
        content: "•"; /* Insert content that looks like bullets */
        padding-right: 10px;
        color: #ffa340; /* Or a color you prefer */
        font-size: 14px;
    }
