.noah-form input, .noah-form select
{
    background-color: #f0f0f0 !important;
    border: #23ffca 2px solid !important;
    margin: -5px;
    color: #000;
}

.noah-form button{
    background-color: #f0f0f0 !important;
    border: #23ffca 2px solid !important;
    color: #0a0a0a !important;
}

body{
    color: #0a0a0a;
    font: Arial;
    font-size: 12pt;
}
#codigoCaptcha{
    color:#0016b0;
    font-weight: bold;
}
.margin-none{
    margin: 0 !important;
}
#btn-reg,#button-login{
    margin-left: 25px;
}
label{
    font-size: 11pt;

}
h3{
    font-size: 14pt !important;
}
.form-horizontal .control-label{
    text-align: left;
    margin-bottom: -5px;
    margin-right: -6px;
}
.form-control{
    height: 28px;
    padding: 3px 5px;
}
.btn{
    padding: 2px 25px;
    left: -20px;
    position: relative;
}
#loginForm label,#form-data label{
    padding-left: 30px;
}
#loginForm label{
    padding-left: 30px;
}