body{
    background-color: #f2f2f2;
}
.notification-pago{

    padding: 20px;
    border: solid 2px;
    /*width: 70%;*/
}
.button-nivelt1{
    width: 300px;
    margin-left: 20px;
    background-color: #A9F5BC !important;
}
h4{
    color: blue;
}
h3{
    font-size: 19px;
    font-weight: bold;
}
.button-nivelt2{
    width: 300px;
    margin-left: 60px;
    background-color: #D8CEF6 !important;
}
.button-nivelt3{
    width: 300px;
    margin-left: 23px;
    margin-top: 30px;
    background-color: #F6CECE !important;
}

.button-nivelt4{
    width: 300px;
    margin-left: 60px;
    margin-top: 30px;background-color: #F3F781 !important;
}

.box-aviso{
    height: 249px;
    width: 80%;
    border: solid 2px #080808;
    margin: 0px !important;
    position: relative;
    float: left;
}
.title-matriz{
    margin-left: 1%;
    font-size: 20px;
}
.button-admin{
    margin-left: 35%;
    width: 30%;
    border-color: #006699 !important;
    color: #215bbd !important;
}
.box-publicidad{
    margin:0 !important;
    width: 20%;
    left: 80%;
    position: relative;
 }
.box-publicidad div{
    height: 335px;
    border: solid 2px #868484;
    margin:0 !important;
}


#tuto-matriz{

    width: 80%;
    float: left;
}


/* Area del template matriz*/

.button-patrocinador{
    height: 30px;
    width: 250px;
    margin-left: 40px;
    margin-bottom: 10px;
    border-color: #080808 !important;
}

#container-publicity{
    width: 95%;
    height: 250px;
    margin-left: 1%;
}
#container-publicity>div{
    border: solid 2px #080808;
    height: 100%;
    width: 33%;
    margin:0;
    float: left;
}

.level-container{
    width: 95%;
    height: 100px;
    position: relative;
    left: 7px;
    margin-top: 10px;
}
.vertical{
    width: 3%;
    height: 100%;
    float: left;
    margin-right: 1%;
}
.vertical p{
    margin-bottom: -1px;
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
}
.vertical p:first-child{
    margin-top: 3px;
}
.level-content{
    height: 100%;
    position: relative;
    left: 3.3%;
    background-color: #2a8b9c;
}
#level1{
    width: 96.7%;
}
.level2{
    width: 47.7%;
    float: left;
}
.level3{
    width: 23.2%;
    float: left;
}

.level4{
    width: 10.9%;
    float: left;
}
#level2-5,#level2-6,#level2-8{
    margin-left: 1.3%;
}#level2-7{
    margin-left: 1.5%;
}

#level2-1{
    left: -0.7% !important;
}
#level2-2{
   left: 0.5% !important;
}

#level2-3{
   left: 1.8% !important;
}

/*colores para los niveles*/
.level1-color{
    background-color: rgba(18,204,23,0.45) !important;
}
.level2-color{
    background-color: #BBACC5 !important;
}
.level3-color{
    background-color: #edb678 !important;
}
.level4-color{
    background-color: #fffbb5 !important;
}
.level-content>img{
    height: 70px;
    margin-top: 5px;
    left: 43%;
    position: relative;
    z-index: 100;
}
.level3 img{
    left: 35% !important;
}
.level4 img{
    left: 23% !important;
}


/* Usuarios*/
.name-user{
    position: relative;

    font-size: 17px;
    color: #fff;
}
.name-user-level1{
    left: -2%;
    top: -3px;
}
.name-user-level2{
    left: 26%;
    top: 49px;
}
.name-user-level3{
    left: 3%;
    top: 47px;
}
.name-user-level4{
    left: 8%;
    top: 0;
    font-size: 11px;
    float: left;
}

.datos1{
    position: relative;
    top: -95px;
    left: 140px;
    color: #000;
    width: 290px;
}
.datos2{
    position: relative;
    top: -72px;
    left: 10px;
    color: #000;
    font-size: 12px;
}
.datos h4{
    color: #fff;
}

/*CSS para home*/
.title-payment-matriz{
    color: #000;
    font-weight: bold;
}

.title-pay{
    color: blue;
    font-weight: bold;
}

.inactive{
    border: solid 3px red;
}
.inactive h3{
    color: white;
    font-size: 20pt !important;
    text-align: center;
}
.inactive a:hover{
    text-decoration: none;
}
