body{
    background-color: #f2f2f2;
}
.notification-pago{

    padding: 20px;
    border: solid 2px;
    /*width: 70%;*/
}
.button-nivelt1{
 width: 341px;
margin-left: 50px;
background-color: #bbacc5 !important;
}
h4{
    color: blue;
    margin-left: 34px;
}
h3{
    font-size: 19px;
    font-weight: bold;
}
.button-nivelt2{
    width: 341px;
    margin-left: 60px;
    background-color: #edb678 !important;
}
.button-nivelt3{
    width: 341px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: #fffbb5 !important;
}

.button-nivelt4{
    width: 341px;
    margin-left: 60px;
    margin-top: 30px;
    background-color: #6eb1d6 !important;
}

.level1-color-2{
    background-color: #bbacc5 !important;
}
.level2-color-2{
    background-color: #edb678 !important;
}
.level3-color-2{
    background-color: #fffbb5 !important;
}
.level4-color-2{
    background-color: #6eb1d6 !important;
}

.box-aviso{
    border: solid 2px #080808;
    padding-bottom: 10px;
}
.title-matriz{
    margin-left: 1%;
    font-size: 20px;
}
.button-admin{
    margin-left: 35%;
    width: 30%;
    border-color: #006699 !important;
    color: #215bbd !important;
}
.box-publicidad{
    margin:0 !important;
    width: 20%;
    left: 80%;
    position: relative;
 }
.box-publicidad div{
    height: 335px;
    border: solid 2px #868484;
    margin:0 !important;
}


#tuto-matriz{
    width: 80%;
    float: left;
}


/* Area del template matriz*/

.button-patrocinador{
    height: 30px;
    width: 250px;
    margin-left: 40px;
    margin-bottom: 10px;
    border-color: #080808 !important;
}

#container-publicity{
    width: 95%;
    height: 250px;
    margin-left: 1%;
}
#container-publicity>div{
    border: solid 2px #080808;
    height: 100%;
    width: 33%;
    margin:0;
    float: left;
}

.level-container{
    width: 95%;
    height: 100px;
    position: relative;
    left: 7px;
    margin-top: 10px;
}
.vertical{
    width: 3%;
    height: 100%;
    float: left;
    margin-right: 1%;
}
.vertical p{
    margin-bottom: -1px;
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
}
.vertical p:first-child{
    margin-top: 3px;
}
.level-content{
    height: 100%;
    position: relative;
    left: 3.3%;
    background-color: #2a8b9c;
}
#level1{
    width: 96.7%;
}
.level2{
    width: 47.7%;
    float: left;
}
.level3{
    width: 23.2%;
    float: left;
}

.level4{
    width: 10.9%;
    float: left;
}
.level5{
    width: 4.9%;
    float: left;
}


#level5-1{
   margin-left: -40px;
}
#level5-2,#level5-4,#level5-6,#level5-8,#level5-10,#level5-12,#level5-14,#level5-16{
    margin-left: 9.9px;
}
#level5-3,#level5-5,#level5-7,#level5-9,#level5-11,#level5-13,#level5-15{
    margin-left: 15px;
}


#level2-5,#level2-6,#level2-8{
    margin-left: 1.3%;
}#level2-7{
    margin-left: 1.5%;
}

#level2-1{
    left: -0.7% !important;
}
#level2-2{
   left: 0.5% !important;
}

#level2-3{
   left: 1.8% !important;
}

/*colores para los niveles*/
.level1-color{
    background-color: rgba(18,204,23,0.45) !important;
}
.level2-color{
    background-color: #BBACC5 !important;
}
.level3-color{
    background-color: #edb678 !important;
}
.level4-color{
    background-color: #fffbb5 !important;
}
.level5-color{
    background-color: #6eb1d6 !important;
}
.level-content>img{
    height: 70px;
    margin-top: 5px;
    left: 43%;
    position: relative;
    z-index: 100;
}
.level5>img{
    left: 2%;
}
.level5>img.small{
    left: 2%;
    height: 55px;
    top: 14px;
}
.level3 img{
    left: 35% !important;
}
.level4 img{
    left: 23% !important;
}


/* Usuarios*/
.name-user{
    position: relative;

    font-size: 17px;
    color: #fff;
}
.name-user-level1{
    left: -2%;
    top: -3px;
}
.name-user-level2{
    left: 26%;
    top: 49px;
}
.name-user-level3{
    left: 3%;
    top: 47px;
}
.name-user-level4{
    left: 8%;
    top: 0;
    font-size: 11px;
    float: left;
}
.datos1{
    position: relative;
    top: -95px;
    left: 125px;
    color: #000;
    width: 300px;
}
.datos2{
    position: relative;
    top: -72px;
    left: 10px;
    color: #000;
    font-size: 12px;
}
.datos h4{
    color: #fff;
}

/*CSS para home*/
.title-payment-matriz{
    color: #000;
    font-weight: bold;
}

.title-pay{
    color: blue;
    font-weight: bold;
}

.inactive h3{
    color: white;
    font-size: 20pt !important;
    text-align: center;
}
.inactive a:hover{
    text-decoration: none;
}
.disabled-noah{
    color: #788396 !important;
    border-color: #788396 !important;
}
.extra-title{
    color:red;
    width: 300px;
    margin-left: 35px;

}
.noticias-noah p{
    margin-left: 15px;
    margin-right: 15px;

}