body{
    background-color: #f2f2f2;
}
.notification-pago{
    margin-left: -1%;
    padding: 20px;
    border: solid 2px;
    width: 70%;
}
.title-matriz{
    margin-left: 1%;
    font-size: 20px;
}
.button-admin{
    margin-left: 35%;
    width: 30%;
    border-color: #006699 !important;
    color: #215bbd !important;
}