.popup {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.content-popup {
    margin:0px auto;
    margin-top:120px;
    position:relative;
    padding:10px;
    width:400px;
    min-height:150px;
    box-shadow: 0 2px 5px #4aae76;
    border: 2px solid #2ebd94;
    background-color: #e0e0e0;
}

.line-title {
    padding-left: 10% ;
    color: #3d34f6;
    border-bottom: 2px solid #2ebd94;
    margin-top: 0;
    padding-bottom: 4px;
    margin-bottom: 10px;
}
#login{
    width: 80%;
}

.popup-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display:none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}

.close-pop {
    border: 2px solid #2ebd94;
    padding: 5px 12px;
    position: absolute;
    right: -14px;
    top: -19px;
    border-radius: 40px;
    z-index: 150;
    color: #000;
    background-color: #e0e0e0;
}
.close-pop a{
    color:#000;
    font-weight: bold;

}
.close-pop a:hover{
    color:#000;
    font-weight: bold;
    text-decoration: none;

}

#license{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
    font-size: 110%;
    display: inline;
    position: relative;
    left: -10%;
    top: -8px;
    float: none;
}