#body{
    width: 1366px !important;
    margin: 0 auto;
}
header{
    height: 110px;
    background-color: #000;
}
footer{
    height: 80px;
    background-color: #000;
}
.logo{
    width: 324px;
}
.logo img{
    width: 200px;
    position: relative;
    top: 20px;
}
/* Lineas del home */
.line{
    height: 2px;
    background-color: #2ebd94;
    position: relative;
}
#line-header{
    top: 28px;
}
#line-footer{
    top: 5px;
}
.line-quienes{
    width: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*Fin lineas del home*/

.quienes-somos{
    margin-top: 25px;
    margin-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
}

.link-more{
    position: relative;
    top: 15px;
    text-decoration: none;
    border: 1px solid #00ccff;
    color: #00ccff;
    padding: 13px;
}
.link-more:hover{
    text-decoration: none;
    border: 2px solid #54bef6;
    color: #54bef6;

    font-weight: bold;
}