#user-perfil{
    width: 55%;
    float: left;
    margin-right: 25px;
}
#user-edit{
    width: 40%;
    float: left;
}
.label-user{
    font-size: 13px;
    margin-right: 21px;
}
#formUser label{
	text-align: left;
}
#formUserDiv{
	width: 50%;
}
#formUserDiv2{
    margin-top: 40px;
}