.padding-none{
    padding: 0 !important;
    margin: 0 !important;
}
header{
    height: 100px;
}
header,footer{
    background-color: #303030;
}
footer{
    height: 70px;
}
.line{
    height: 2px;
    background-color: #2ebd94;
    position: relative;
}
footer .line{
    top: 3px !important;
}
header .line{
    top: 95px;
}
.content{
    height: 410px;
}


.link-more{
    text-decoration: none;
    border: 1px solid #00ccff;
    color: #00ccff;
    padding: 13px;
}
.link-more:hover{
    text-decoration: none;
    border: 2px solid #54bef6;
    color: #54bef6;

    font-weight: bold;
}
article p{
    padding-bottom: 20px;
}